# controller_f103rb board
#
# Copyright (c) 2021 Marek Metelski
# SPDX-License-Identifier: Apache-2.0

config BOARD_CONTROLLER_F103RB
	bool "Flight controller based on f103rb microcontroller"
	depends on SOC_STM32F103XB
